
  .spinner-container {
    display: flex;
    flex-direction: row;
  }

  .spinner {
    flex-grow: 0;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-left: -36px;
    background: none;
    border-radius: 50%;
    border: 6px solid currentColor;
    box-sizing: border-box;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  .spinner:first-child {
    margin-left: 0;
    color: rgb(0, 121, 197);
    border-top-color: rgba(0, 121, 197, 0.2);
  }

  .spinner:nth-child(2) {
    color:rgb(249, 178, 32);
    border-top-color: rgba(249, 178, 32, 0.2);
  }

  .spinner:nth-child(3) {
    color: rgba(0, 0, 0, 1);
    border-top-color: rgba(0, 0, 0, 0.2);
  }

  .spinner:nth-child(4) {
    color: rgba(8, 123, 57, 1);
    border-top-color: rgba(8, 123, 57, 0.2);
  }

  .spinner:nth-child(5) {
    color: rgba(222, 24, 24, 1);
    border-top-color:rgba(222, 24, 24, 0.2);
  }

  .spinner:nth-child(2n) {
    margin-top: 40px;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }